body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Montserrat';
    background-image: url("https://i.ibb.co/Fxx71TN/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.editAccount{
    width: 95%;
    max-width: 650px;
    background: #ffffff;
    opacity: .9;
    padding: 28px;
    border-radius: 30px;
    margin: 6% auto;
}

h1{
    padding: 0 0 5px;
    font-size: 36px;
    color: #2f1583;
    text-align: center;
}

p{
    padding: 5px 0 5px;
    color: #2f1583;
    text-align: center;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: #2f1583;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #2f1583;
    background: #d8dcfc;
    outline: none;
}

.gender-title{
    width: 95%;
    color: #2f1583;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.gender-category{
    margin: 15px 0;
    color: #2f1583;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.form-submit-btn input{
    display: block;
    width: 60%;
    margin: 10px auto 2px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2f1583;
    color: #ffffff;
}

.form-submit-btn input:hover{
    cursor: pointer;
    background: #15cdcb;
    color: #ffffff;
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}