*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.container{
    margin: 40px 100px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card-01{
    background-color: #ffffff;
    position: relative;
    flex: 2;
    max-width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 25px;
}

.row h3{
    letter-spacing: 2px;
    font-weight:bold;
    margin-left: 10px;
}

.card-01 h5{
    letter-spacing: 2px;
    font-weight:bold;
    margin: 30px 10px 10px;
}

.card-02{
    background-color: #d4fcfc;
    position: relative;
    flex: 1;
    max-width: 100px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 25px;
}

.cartButton{
    padding: .5rem 3rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: rgba(47, 21, 131, 0.78);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;

}

.cartButton:hover{
    background: #15cdcb;
    color: #fff;
}

@media (max-width:768px){
    .card-01{
        flex: 100%;
        max-width: 600px;
    }
    .card-02{
        flex: 100%;
        max-width: 600px;
    }

}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    text-align: center;
    margin-left: 16px;
}

td img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-right: 10px;
}

.description{
    font-size: 12px;
}

.stock{
    color: red;
    font-size: 12px;
}

.container .cart-back{
    text-decoration: none;
}

