* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.container{
    margin: 70px 100px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card-01{
    background-color: #ffffff;
    position: relative;
    flex: 2;
    max-width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 30px rgba(0,0,0,.3);
    padding: 25px;
}

.row h3{
    letter-spacing: 2px;
    font-weight:bold;
    margin-left: 10px;
}

.card-01 h5{
    letter-spacing: 2px;
    font-weight:bold;
    margin: 30px 10px 10px;
}

.card-02{
    background-color: #e8fcfc;
    position: relative;
    flex: 1;
    max-width: 100px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 30px rgba(0,0,0,.3);
    padding: 25px;
}

@media (max-width:768px){
    .card-01{
        flex: 100%;
        max-width: 600px;
    }
    .card-02{
        flex: 100%;
        max-width: 600px;
    }

}

.col-12{
    margin-bottom: 10px;
}

.card-03{
    background-color: #ffffff;
    position: relative;
    flex: 1;
    max-width: 200px;
    height: auto;
    margin: 10px;
    padding: 25px;
}