* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.rating-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 1rem;
    margin-top: 5rem;
}

.wrapper {
    /*background: rgba(168, 229, 230, 0.85);*/
    padding: 2rem;
    max-width: 80%;
    width: 100%;
    border-radius: .75rem .75rem 0rem 0rem;
    box-shadow: 8px 8px 30px rgba(0,0,0,.05);
    text-align: center;
    border: 3px solid rgba(47, 21, 131, 0.7);
}

.status {
    /*border-radius: .5rem;*/
    text-align: center;

}

.status.completed {
    background-color: #86e49d;
    color: #006b21;
    width: 40px;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.fa.fa-star.completed{
    font-size: 20px;
    color: rgba(47, 21, 131, 0.87);
}

.fa.fa-star.cancelled{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}