*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 80px;
    /*background: #fefefe;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    /*border-radius: 0 0 10px 10px;*/
    margin: 0 auto;
}

.logo{
    width: 120px;
    margin-top: 8px;
}

nav .logo{
    display: none;
}

nav ul{
    display: flex;
}

nav ul li a{
    color: #000;
    display: block;
    margin: 0 2px;
    font-weight: 350;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 5px;
    text-decoration: none;
}

nav ul li a:hover{
    background: #15cdcb;
    color: white;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover{
    background: #15cdcb;
}

.hamburger div{
    width: 30px;
    height: 2px;
    margin: 6px;
    background: #212526;
}

.menu-bar ul {
    list-style: none;
    display: flex;

}
.menu-bar ul li {
    /* width: 120px; */
    /* text-align: center; */
    position: relative;

}
.menu-bar ul li a {
    text-decoration: none;
    transition: all 0.3s;
}
.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
.dropdown-menu {
    display: none;
    width: auto;
    background-color: white;
}
.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    /*border: none;*/
}
.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

@media only screen and (max-width: 1100px) {
    header{
        width: 90%;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 200px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0,0,0,0.05);
    }
    #nav_check:checked ~ nav{
        left: 0;
    }
    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav .menu-bar ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
        float: none;
    }
    nav .menu-bar ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger{
        display: block;
    }
}

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: white;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: rgba(47, 21, 131, 0.78);
}
.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #15cdcb;
    top: -10px;
}
.left .content p{
    text-align: justify;
}

.center .content .fa{
    font-size: 1.4375rem;
    background: #2f1583;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.center .content .fa:hover{
    background: #15cdcb;
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 15px 0;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #000000;
}
.right form .msg{
    margin-top: 10px;
}
.right .msg-txt{
    padding-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #ffffff;
    padding-left: 10px;
    border: 1px solid #2f1583;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #15cdcb;
}
.right form input{
    height: 35px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #15cdcb;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.right form .btn button:hover{
    background: #2f1583;
    color: white;
}
.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: rgba(47, 21, 131, 0.86);
}
.bottom center span{
    color: #ffffff;
}
.bottom center a{
    color: #15cdcb;
    text-decoration: none;
}
.bottom center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}