* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #d8dcfc;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    padding: 1rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #2f1583;
    text-align: center;
    padding: 0px 50px 75px 100px;

}

.column-left h1{
    font-family: 'Montserrat';
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.column-left p {
    margin-bottom: 2rem;
    font-size: .9rem;
    font-family: 'Montserrat';
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;

}

.hero-image {
    width: 140%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}