* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}


.crud-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    margin-top: 5rem;
}

.wrapper {
    background: rgb(168, 229, 230);
    padding: 1rem;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 8px 8px 30px rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
}
.wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
    font-family: Montserrat;
}

form {
    margin-top: 20px;
    width: 85%;
}

.btn-group {
    grid-gap: .5rem;
    position: absolute;
    float: right;
}

.btn-group .btn {
    padding: .75rem 2rem;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
}

.btn-group .btn.submit {
    background: rgba(47, 21, 131, 0.88);
    color: #fff;
}
.btn-group .btn.submit:hover {
    background: #15cdcb;
    color: white;
}
.btn-group .btn.cancel {
    background: #ffffff;
    color: #000000;
}
.btn-group .btn.cancel:hover {
    background: grey;
    color: white;
}