body{
    background-color: #d8dcfc;
}

section {
    margin: 10px 20% 50px 20%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.ref-num {
    text-align: center;
    margin-top: 10px;
}

.ref-num p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.ref-num input {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
}

.ref-num input:focus {
    outline: none;
}

.form-submit-btn input{
    display: block;
    width: 20%;
    margin: auto;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2f1583;
    color: #ffffff;
}

.form-submit-btn input:hover{
    cursor: pointer;
    background: #15cdcb;
    color: #ffffff;
}