:root{
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

body,
html{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
}

.btn{
    font-family: Inter, sans-serif;
}


.masthead2{

    background-position: 50% -30px;
    background-color:#60dcdc;
    height: 50px;
    margin-top: 10px;

}

.container h1{
    font-size: 3rem;
}

a.social-icon{
    color:#242424;
}

.page-section{
    padding: 5rem 0;
}

.main-menu{
    color: #2f1583;
    font-size: 20px;
    font-weight: 900;
}

a.link-menu{
    text-decoration: none;
    color: #2f1583;
}

.logo-text-white{
    color: #fff;
    font-size: 16px;
}


.blog-sidebar-title{
    color: #242424;
    font-size: 25px;
    font-weight: 500;
}

.blog-sidebar-list{
    color: #242424;
    font-size: 20px;
    font-weight: 200;
}

.blog-sidebar-text{
    color: #242424;
    font-size: 16px;
    font-weight: 200;
}

.blog-form{
    background-color: #ffffff;
    padding: 50px;
    height: 1000px;
}

.list-icon{
    color: #2f1583;
}

.tags{
    color: #242424;
    font-size: 20px;
    font-weight: 200;
}

.tags{
    color: #242424;
    font-size: 25px;
    font-weight: 600;
}


.card-title{
    font-size: 19px;
    font-weight: 200;
}

.card-text{
    font-family: Inter,sans-serif;
    font-size: 13px;
}

.button-text{
    font-size: 14px;
    font-weight: 900;
}

.product-image{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card h5, p{
    text-align: left;
}

.fa-star, .fa-star-half-full {
    color: orange;
}

.card i{
    float: right;
    background-color: rgba(47, 21, 131, 0.84);
    padding: 12px;
    border: none;
    color: white;
}

.card i:hover{
    background: #15cdcb;
}

.under {
    margin-left: 30px;
}

.form-check {
    margin: 10px;
}

.form-check-label {
    margin-left: 5px;
}

.blog-form .fa-angle-down{
    font-size: 30px;
}

/*---View Page style---*/

.section-p1{
    padding: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin: auto;
}

#product-details{
    display: flex;
    margin: 50px 30px 0;
}

#product-details .single-img{
    width: 50%;
    margin-right: 50px;
}

#product-details .single-img-details{
    width: 100%;
    padding-top: 20px;
}

#product-details .single-img-details h6{
    padding: 0 0 20px 0;
}

#product-details .single-img-details h4{
    padding: 10px 0 20px 0;
    font-weight: bold;
}

#product-details .single-img-details h2{
    font-size: 26px;
}

#product-details .single-img-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 14px;
    margin-right: 10px;
}

#product-details .single-img-details input:focus{
    outline: none;
}

#product-details .single-img-details span{
    line-height: 25px;
    text-align: justify;
}

.single-img-details a{
    background-color: #2f1583;
    opacity: 0.7;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
}

.popup .popup-text {
    visibility: hidden;
    width: 160px;
    background-color: rgba(85, 85, 85, 0.68);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 12px;
}

.popup .popup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.68) transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

